<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <nav>
    <a href="/students">All Students</a>
    </nav>
  <%= yield %>
</body>
</html>