<form action="/students" method="POST">

  <label for="first-name-field">First Name:</label>
  <input id="first-name-field" type="text" name="first_name"/>

  <label for="second-name-fields">Second Name:</label>
  <input id="second-name-fields" type="text" name="second_name">

  <label for="house-select">Select Your House:</label>
  <select id="house-select" name="house">
    <option value="Gryffindor" <%= 'selected' if @student.house_id == "Gryffindor"%> >Gryffindor</option> 
    <option value="Ravenclaw" <%= 'selected' if @student.house_id == "Ravenclaw"%> >Ravenclaw</option>
    <option value="Hufflepuff" <%= 'selected' if @student.house_id == "Hufflepuff"%> >Hufflepuff</option> 
    <option value="Slytherin" <%= 'selected' if @student.house_id == "Slytherin"%> >Slytherin</option>

  </select>

<label for="age">How old are you?</label>
<input id="age" type="number" name="age">

<input type="submit" value="Add Student">

</form>
