<form action="/students" method="POST">

  <label for="first-name-field">First Name:</label>
  <input id="first-name-field" type="text" name="first_name"/>

  <label for="second-name-fields">Second Name:</label>
  <input id="second-name-fields" type="text" name="second_name">

  <label for="house-select">Select Your House:</label>
  <select id="house-select" name="house_id">
    <% for house in @houses do%>
    <option value="<%=house.id%>" ><%=house.name%></option> 
    <%end%>
  </select>

  <label for="age">How old are you?</label>
  <input id="age" type="number" name="age">

  <input type="submit" value="Add Student">

</form>
